# Environment & secrets
.env

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Temp
*.tmp
*.log
*.json

# ClawHub
.clawhub/

# Memory notes
memory/

# OpenClaw
.openclaw/

agents/main/sessions
agents/product/sessions
agents/product/templates
agents/know_it_all_bot/sessions
agents/know_it_all_bot/templates
